<html>
<head>
<title>Home</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap/css/bootstrap.min.css">
</head>
<body>
<center><h1 id="header">Blab.</h1>
<h2>Blab is LAN based video chat client.</h2></center>
<div class="col-md-4">
	<div id="chatType">
		<a href="/one" id="ico"> 1-1</a><br />
		<a href="/one" id="name"> One Chat</a><br/> Active

	</div>
</div>
<div class="col-md-4">
	<div id="chatType">
		<a href="/lecture" id="ico"> 1-n</a><br />
		<a href="/lecture" id="name"> Lectures</a><br/> Under Construction

	</div>
</div>
<div class="col-md-4">
	<div id="chatType">
		<a href="/group" id="ico"> n-n</a><br />
		<a href="/group" id="name"> Group Chat</a><br /> Under Construction
	</div>
</div>
<center><div id="note"> NOTE: Neither the video nor the textual chat is being logged on the server, so just speak your heart out to your partner <span style="color:#39b3d7;">:)</span> </div></center>
<center><div id="developer"><hr/>Coded by Sumit Agarwal(2k11)<br>Keep Blabering!</div></center>
</body>
</html>