body{
	background-color: #000;
}

#local {
	width:320;
	height:240;
}

#remote{
	width:800;
	height:580;
	margin:5% 5% 0 5%;
}
.notificationLabel{
	color: #E83427;
	font-weight: normal;
}


#localBox{
	border:1.5px DASHED rgba(100,125,130,0.8);
	border-radius:3px;
	width:323;
	margin:2% 8% 0 8%;
}

#controls{
	margin:3% 8% 0 8%;
}

#roomKey{
	font-size: 20px;
	margin: 1%;
}

#chatKey{
	font-size:20px;
	font-weight:normal;
	margin-right:5%;
}

#chat{
	background: rgb(15,15,15); height: 320px;
	margin:0 8% 1% 8%;
	width: 320px;
	border: 2px;
	border-color: rgb(61, 85, 109);
	border-style: dotted;
	border-radius: 3px;
	color: rgb(179, 203, 224);
}

#localText{
	width: 261px;
	height: 30px;
	color: #000;
}

#send{
	color:#000;
}

#messages{
	height:285px;
	overflow: auto;
}

#footer{
	height: 20px;
	background-color: rgba(254,255,213,1);
	color: #000;
}

#footer a{
	text-decoration: none;
	color: #000;
}